/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



:root {
    --colorUno: #FF6500;
    --colorDos: #101011;
    --colortres: #FAFAFA;
    --colorcuatro: #b5b5b5;
    --colorcinco: #70320a;
    --fuente1: 'Montserrat', sans-serif;
}


.footer {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorDos);
  color: var(--colortres);
  padding: 20px;
}

.footer img {
  width: 100px;
  height: auto;
}

.footer a {
  font-family: var(--fuente1);
  text-decoration: none;
  color: var(--colortres);
  margin: 0 15px;
  font-weight: 500;
}

.footer a:hover {
  color: var(--colorUno);

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
      flex-direction: column;
      text-align: center;
      padding: 10px;
  }

  .footer img {
      margin-bottom: 10px;
  }

  .footer a {
      margin: 5px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer img {
      margin-bottom: 15px; 
  }

  .footer a {
      margin: 5px 0; 
  }
}