/* Favoritos.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



:root {
    --colorUno: #FF6500;
    --colorDos: #101011;
    --colortres: #FAFAFA;
    --colorcuatro: #b5b5b5;
    --colorcinco: #70320a;
    --fuente1: 'Montserrat', sans-serif;
}


.favorites-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 120px 10px 120px;
    gap: 20px;
    font-family: var(--fuente1);
    color: var(--colortres);
}

.estilo {
    font-family: var(--fuente1);
    font-size: 25px;
    color: var(--colortres);
    text-shadow: 2px 2px var(--colorcinco);
    border-left: 5px solid var(--colorUno);
    margin: 20px 120px 20px 120px;
    padding-left: 10px;

}
.titulofav {
    color: var(--colortres);
    font-family: var(--fuente1);
    font-size: 18px;
    margin: 5px 0px 5px 0px;
}

.estilopdos {
    color: var(--colortres);
    font-size: 15px;
    letter-spacing: px;
    line-height: 20px;
}


.estilop {
    color:var(--colortres);
    font-family: var(--fuente1);
    font-size: 15px;
    font-weight: 500;
    margin: 15px 120px 15px 135px;
}

.btn {
    background-color: var(--colorDos);
    font-family: var(--fuente1);
    font-size: 12px;
    color: var(--colortres);
    border-radius: 10px;
    border: 1px solid var(--colorcuatro);
    padding: 5px;
    margin: 10px 0px 10px 0px;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: var(--colorUno);
    border: 1px solid var(--colorUno);
}

.favorite-card {
    background-color: var(--colorDos);
    border: 1px solid var(--colorcuatro);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.favorite-card:hover {
    background-color: #2c2c2c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.favorite-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-details {
    flex-grow: 1;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .favorites-list {
        margin: 10px 10px;
    }

    .estilo {
        margin: 20px 10px;
    }

    .estilop {
        margin: 15px 10px;
    }

    .favorite-card {
        width: calc(50% - 10px); 
        margin: 10px 0px 20px 0px;
    }
}

