/* Tendencias.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
:root {
  --colorUno: #FF6500;
  --colorDos: #101011;
  --colortres: #FAFAFA;  
  --colorcuatro: #b5b5b5;
  --colorcinco: #70320a;
  --fuente1: 'Montserrat', sans-serif;
}

.margsec {
  margin: 10px 120px 10px 120px;
}

.tituloclas {
  font-family: var(--fuente1);
  color: var(--colortres);
  margin: 10px;
}

.estilopar {
  font-family: var(--fuente1);
  color: var(--colortres);
  font-size: 12px;
  margin: 10px; 
}

.estilotendencia {
  color:var(--colortres);
  text-shadow: 2px 2px var(--colorcinco);
  font-family: var(--fuente1);
  border-left: 5px solid var(--colorUno);
  padding-left: 10px;
  
}

.orgdivsec2 {
  font-family: var(--fuente1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 15px 0px;
}

.orgdiv2sec2 {
  display: flex;
  
}

.cajatarjetas {
  display: flex;
  
}

.catarjet { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.tarjeta {
  flex: 0 0 auto;
  width: 100%;
  max-width: 225px;
  height: fit-content;
  border: 1px solid var(--colorcuatro);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease; 
}

.tarjeta:hover {
  transform: scale(1.1); 
}


.tarjeta img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--colorcuatro);
}

.tarjeta h3 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}

.tarjeta p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.orgbtn {
  margin: 10px;
}

.leer-mas-button,
.agregar-favoritos-button {
  font-family: var(--fuente1);
  background-color: var(--colorUno);
  color: var(--colortres);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  position:relative;
 

}


.btnes {display:flex;
  justify-content: space-between;
}

.agregar-favoritos-button i {
  font-family: var(--fuente1);
  position:relative;

}

.carousel-buttons {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin:10px;
}

.carousel-buttons button {
  margin-right: 10px;
  background-color: var(--colorDos);
  color: var(--colortres);
  border: 1px solid var(--colorcuatro);
  padding: 5px 10px;
  cursor: pointer;
}

.btndos {
  display:flex;
  justify-content: center;
  align-items: center;
}

.btnant {
  font-family: var(--fuente1);
  background-color: var(--colorDos);
  margin: 0px 25px 0px 0px;
  border-radius: 10px;
}

.btnsig {
  font-family: var(--fuente1);
  margin: 0px 0px 0px 25px;
border-radius: 10px;}


.active {
  border-color: var(--colorUno);
}

.ver-mas-link {
  font-family: var(--fuente1);
  text-decoration: none;
  color: var(--colortres);
  font-weight: 600;
  font-size: 15px;
}

.ver-mas-link:hover {
  text-decoration: underline;
}

/* Media Query para dispositivos entre 320px y 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .margsec {
      margin: 10px 10px;
  }

  .orgdivsec2 {
      flex-direction: column;
      margin: 10px 0;
  }

  .orgdiv2sec2 {
      flex-direction: column;
      align-items: center;
  }

  .cajatarjetas {
      justify-content: center;
  }

  .tarjeta {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
  }

  .leer-mas-button,
  .agregar-favoritos-button {
      width: 100%;
      margin: 10px 0;
  }

  .btnes {
      flex-direction: column;
      align-items: center;
  }

  .carousel-buttons {
      margin: 10px 0;
  }

  .carousel-buttons button {
      margin-right: 0;
  }

  .btndos {
      flex-direction: column;
      align-items: center;
  }

  .btnant {
      margin: 0 0 10px 0;
  }

  .btnsig {
      margin: 0;
  }
}