/* GeneroSection.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



:root {
    --colorUno: #FF6500;
    --colorDos: #101011;
    --colortres: #FAFAFA;
    --colorcuatro: #b5b5b5;
    --colorcinco: #70320a;
    --fuente1: 'Montserrat', sans-serif;
}


.orgdivsec3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .orgdivsec3 h2 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .orgdivsec3 div {
    margin-bottom: 20px;
  }
  
  .orgdivsec3 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .orgdivsec3 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  .orgdivsec3 a:hover {
    color: var(--colorUno);
  }
  