@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



:root {
    --colorUno: #FF6500;
    --colorDos: #101011;
    --colortres: #FAFAFA;
    --colorcuatro: #b5b5b5;
    --colorcinco: #70320a;
    --fuente1: 'Montserrat', sans-serif;
}



header {
    font-family: var(--fuente1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5px 0px 5px;
    height: 130px;
    background-color: var(--colorDos);

}

.sectionone {
    display:flex;
    flex-direction: column;
}
.formulario {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.input {

    width: 200px;
    height: 35px;
    border: 1px solid;
    border-radius: 15px;
    margin: 0px 20px 0px 0px;
}

a {
    color: var(--colortres);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}


.ordendiv1 {
    font-family: var(--fuente1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1230px;
}

.logo {
    width: 300px;
    height: 165px;
    display:flex;
    align-items: center;
}

.navegador {
    margin: 0px 0px 0px 60px;
}



.orgnavsa {
    font-size: 17px;
    font-weight: 600;
    color: var(--colortres);
    margin: 0px 30px 0px 30px;
    position: relative;
    transition: color 0.3s ease;
}

.orgnavsa::before {
    content: "";
    position: absolute;
    width: 10%; 
    height: 3px; 
    bottom: 0;
    left: 2%; 
    background-color: transparent;
    transition: background-color 0.3s ease, width 0.3s ease; 
    
    
}

.orgnavsa:hover {
    color: var(--colortres);
    
}

.orgnavsa:hover::before {
    
    background-color: var(--colorUno) ;
    width: 100%; 
}

.login {
    color: var(--colortres);
    font-family: var(--fuente1);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 25px 0px 25px;
}

.margenlogin {
    margin: 0px 0px 0px 20px;
}

.mobile-menu-toggle{
    display:none;

}

.mobile-menu-button{
    display:none;
}

/* Media Query para dispositivos entre 320px y 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
       
        height: auto;
        flex-direction: column;
        padding: 10px;
    }


    .mobile-menu-toggle {
        display: none;
    }

    .mobile-menu-button {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .mobile-menu-toggle:checked + .mobile-menu-button + .navegador {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }


    .formulario {
        
        flex-direction: column;
        margin-top: 10px;
    }

    .input {
        
        width: 80%;
        margin: 10px 0;
    }

    a {
       
        font-size: 14px;
        margin-top: 10px;
    }

    .ordendiv1 {
        
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        height: 110px;
        width: 200px;
    }

    .navegador {

       display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        
    }

    .orgnavsa {
        margin: 5px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .ordendiv1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo {
        margin-bottom: 20px;
    }

    .formulario {
        flex-direction: column;
        align-items: center;
    }

    .input {
        width: 100%;
        margin: 10px 0;
    }

    .navegador {
        margin: 20px 0;
    }

    .orgnavsa {
        margin: 10px 0;
    }

    .login {
        margin: 10px 0;
    }

    .margenlogin {
        margin: 10px 0;
    }
}