/* GeneroSection.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



:root {
    --colorUno: #FF6500;
    --colorDos: #101011;
    --colortres: #FAFAFA;
    --colorcuatro: #b5b5b5;
    --colorcinco: #70320a;
    --fuente1: 'Montserrat', sans-serif;
}

.otronombre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
  text-align: center;
}

.otronombre h2 {
  width: 100%;
  margin-bottom: 20px;
}

.estiloh {
  font-family: var(--fuente1);
  color: var(--colortres);
  border-left: 6px solid #FF6500;
  padding: 0px 0px 0px 10px;
  display:flex;
  margin: 0px;
  text-shadow: 2px 2px var(--colorcinco);
}

.otronombre .otracosa {
  width: 100px; 
  margin: 15px; 
  border: 1px solid var(--colorUno);
  border-radius: 10px;
  overflow: hidden;
}

.otronombre img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.otronombre .carousel-caption {
  padding: 10px;
  background-color: var(--colorDos);
  color: var(--colortres);
  text-align: center;
  font-family: var(--fuente1);
}

.otronombre .carousel-caption h3 {
  font-family: var(--fuente1);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  border-radius: 10px;
}

.otronombre a {
  text-decoration: none;
  color: var(--colortres);
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.otronombre a:hover {
  color: var(--colorcuatro);
}

.button-container
{
  display:flex;
  border-radius: 10px;
  margin:10px;
 
}

.botong {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--colorcuatro);
  background-color: var(--colorDos);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.botong:hover {
  background-color: #2c2c2c; 
  transform: scale(1.1); 
}


.carousel-caption {
  border-radius: 10px;
  color: var(--colorUno);
}

.vertodos {
  font-family: var(--fuente1);
  font-weight: 500;
}

/* Media Query para dispositivos entre 320px y 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .otronombre {
      flex-direction: column;
      align-items: center;
  }

  .otronombre h2 {
      width: 100%;
      text-align: center;
  }

  .estiloh {
      margin: 10px 0;
  }

  .otronombre .otracosa {
      width: 100%; 
      margin: 10px 0;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
  }

  .botong {
      width: 100%;
      margin: 10px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .otronombre {
      flex-direction: column;
      align-items: center;
  }

  .otronombre h2 {
      text-align: center;
  }

  .estiloh {
      margin: 10px 0;
  }

  .otronombre .otracosa {
      width: 100%; 
      margin: 10px 0;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
  }

  .botong {
      width: 100%;
      margin: 10px 0;
  }
}